* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.synth {
  min-width: 500px;
  max-width: 600px;
  background: blue;
  padding: 20px;
  margin: auto;
}
.sequencer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  &__step {
    border: 5px solid black;
    border-radius: 10px;
    background: black;
    max-width: 60px;

    select {
      width: 100%;
    }
  }
  .selected-step {
    border-color: white;
  }
}
.octave-input {
  -moz-appearance: textfield;
  max-width: 15px;  
}

.sequencer__head {
  max-width: 17vw;
margin-left: auto;
display: flex;
justify-content: space-around;
margin-bottom: 20px;
}

.pattern-select {
  min-width: 100px;
}

.oscillator {
  max-width: 23vw;
  display: flex;
  justify-content: space-around;
}