input[type="range"][orient="vertical"]
{
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 175px;
    padding: 0 5px;
    width: 8px; 
    margin: 5px 0;
    background: #e8e8e8;
    cursor: pointer;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: sliderthumb-vertical;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 50px;
  width: 26px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 15px;
  width: 26px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

.synth {
  padding: 10px 0;
  max-width: 600px;
  background: #333;
  background-image: url("../assets/wood-background.jpg");
  background-size: contain;
  margin: auto;
  -webkit-box-shadow: 0px 4px 16px 7px rgba(71,1,18,0.51);
  -moz-box-shadow: 0px 4px 16px 7px rgba(71,1,18,0.51);
  box-shadow: 0px 4px 16px 7px rgba(71,1,18,0.51);
  @media (min-width:550px) {
    padding: 10px;
  }
  &__header {
    padding: 5px;
    background: rgb(199, 108, 5);
    max-width: 15em;
    border-top-left-radius: 10px;
    border-right: 3px solid #7b4c03;
    border-bottom: 3px solid #73340e;
    @media(min-width: 550px) {
      margin-bottom: 10px;
    }
  }
}
.oscillator {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  background: black;
  height: 2em;
  align-items: center;
}
.osc-header {
  padding: 5px;
  background: rgb(199, 108, 5);
  max-width: 8em;
  border-top-left-radius: 10px;
  border-right: 3px solid #7b4c03;
  border-bottom: 3px solid #73340e;
}
.drawbars {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: column;
  @media(min-width: 550px) {
    flex-direction: row;
  }
  &__section {
    text-align: center;
    min-width: 80px;
    margin: 10px 0;
    &__wrapper {
      display: flex;
      justify-content: center;
      transition: visibility 1s linear;
      @media(min-width: 550px) {
        border-left: 1px solid rgb(189, 188, 188);
        border-right: 1px solid rgb(189, 188, 188);
      }
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: -1;
      background-color: rgb(199, 108, 5);
      border-top-left-radius: 10px;
      border-right: 3px solid #7b4c03;
      border-bottom: 3px solid #73340e;
      height: 2em;
      padding: 20px;
      @media(min-width:550px) {
        padding: 0;
      }
      & h3 {
        vertical-align: middle;
      }
      .open {

        width: 2em; 
        background: rgb(199, 108, 5);
        border: 0;
        display: block;
        margin-left: auto;
        @media (min-width: 550px) {
          display: none;
        }
        .fa-chevron-down::before {
          font-size: 2em;
        }
        .fa-times::before {
          font-size: 3em;
        }

      }
    }
    .drawbar {
      grid-row-start: 2;
      text-align: center;
      min-width: 60px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & label {
        font-weight: bold;
      }
      &__input-wrapper {
        color: orange;
      }
    }
    &:nth-child(1) {
      grid-template-columns: repeat(2, 1fr);
    }
    &:nth-child(2) {
      grid-template-columns: repeat(2, 1fr);
    }
    &:nth-child(3) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.effect-visuals {
  display: block;
  background: #026002;
  width: 3em;
  border: 1px solid black;
  color: #d9871e;
}
.hidden {
  display: none;
}